

.bg-container{
  background: #f6f6f6;
}

.bg-menu{
	background: #fff;
}

.bg-submenu{
  background: #1e2328;
}

.nav-link, i.carrinho{
	color: #000!important;
}

.icone-submenu{
	float: right;
	padding-left: 15px;
}

a{
  
}

a:hover{
  text-decoration: none;
}

.menu{
  height: 95px;
}

i{
	color: #fff;
}

i:hover{
	color: #f9f9f9;
}

.carticone{
	margin-right: 15px;
}

.info-img, .info-produto{
	float: left;
}

.paddingBT{
	padding-top: 100px;
	padding-bottom: 100px;
}

.paddingL{
	padding-left: 30px;
}

.tamanhoProduto ul{
	list-style: none;
    margin:  0;
    padding-left: 0!important;
    display: inline-block;
}

.tamanhoProduto li{
	float: left;
    margin: 8px 8px ;
    list-style: none;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
}

.borderNone{
	border-style: none;
	border-width: none;
}



/* Carrinho de compra*/

.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}

@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.acoes .btn{
		width:36%;
		margin:1.5em 0;
	}
	
	.acoes .btn-info{
		float:left;
	}
	.acoes .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}